# Database driver
psycopg2-binary

# Environment variable loader (optional but helpful)
python-dotenv

# For the connection tester
requests

# Computations
pandas

# Python debugger
debugpy

# Pretty printing library
tabulate

# For python Fields
pydantic